<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Abilities</key>
	<dict>
		<key>Walk</key>
		<dict>
			<key>AbilityID</key>
			<string>BasicWalking</string>
			<key>Condition</key>
			<array>
				<dict>
					<key>CompareTo</key>
					<integer>1</integer>
					<key>Comparison</key>
					<string>Equal</string>
					<key>Value</key>
					<string>TouchingGround</string>
				</dict>
				<dict>
					<key>CompareTo</key>
					<integer>0</integer>
					<key>Comparison</key>
					<string>Equal</string>
					<key>Value</key>
					<string>Ghost</string>
				</dict>
			</array>
			<key>Interruptions</key>
			<dict>
				<key>Action</key>
				<string></string>
				<key>Crushing</key>
				<string></string>
			</dict>
			<key>Mask</key>
			<integer>1</integer>
			<key>Steps</key>
			<array>
				<dict>
					<key>Changes</key>
					<dict>
						<key>Acceleration</key>
						<array>
							<integer>25</integer>
							<integer>-3</integer>
						</array>
						<key>Constant</key>
						<false/>
						<key>Duration</key>
						<integer>0</integer>
						<key>Force</key>
						<array>
							<integer>0</integer>
							<integer>0</integer>
						</array>
						<key>Frame</key>
						<integer>1</integer>
						<key>Linear Damping</key>
						<real>0.1</real>
						<key>Name</key>
						<string>Step0</string>
						<key>Parameters</key>
						<dict>
							<key>Apply Charge To Damage</key>
							<false/>
							<key>Apply Charge To Duration</key>
							<false/>
							<key>Orientation</key>
							<true/>
							<key>Orientation Apply Transform</key>
							<false/>
							<key>Orientation Frame Shift</key>
							<integer>4</integer>
							<key>Overcharge</key>
							<array>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
							</array>
						</dict>
						<key>Step</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Once</string>
					</dict>
					<key>Condition</key>
					<array>
						<dict>
							<key>CompareTo</key>
							<integer>1</integer>
							<key>Comparison</key>
							<string>Equal</string>
							<key>Value</key>
							<string>TouchingGround</string>
						</dict>
						<dict>
							<key>CompareTo</key>
							<integer>30</integer>
							<key>Comparison</key>
							<string>Less</string>
							<key>Value</key>
							<string>VelocityMagnitude</string>
						</dict>
					</array>
					<key>Duration</key>
					<real>0.1</real>
					<key>Interrupt</key>
					<integer>-1</integer>
					<key>Loop</key>
					<integer>0</integer>
					<key>Loopable</key>
					<false/>
					<key>Loops</key>
					<integer>0</integer>
					<key>Next</key>
					<integer>1</integer>
					<key>Reset</key>
					<integer>3</integer>
					<key>Stoppable</key>
					<true/>
					<key>Suspendable</key>
					<false/>
				</dict>
				<dict>
					<key>Changes</key>
					<dict>
						<key>Constant</key>
						<false/>
						<key>Duration</key>
						<integer>0</integer>
						<key>Frame</key>
						<integer>2</integer>
						<key>Linear Damping</key>
						<real>0.1</real>
						<key>Name</key>
						<string>Step1</string>
						<key>Parameters</key>
						<dict>
							<key>Apply Charge To Damage</key>
							<false/>
							<key>Apply Charge To Duration</key>
							<false/>
							<key>Orientation</key>
							<true/>
							<key>Orientation Apply Transform</key>
							<false/>
							<key>Orientation Frame Shift</key>
							<integer>4</integer>
							<key>Overcharge</key>
							<array>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
							</array>
						</dict>
						<key>Step</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Once</string>
					</dict>
					<key>Condition</key>
					<array/>
					<key>Duration</key>
					<real>0.1</real>
					<key>Interrupt</key>
					<integer>-1</integer>
					<key>Loop</key>
					<integer>0</integer>
					<key>Loopable</key>
					<false/>
					<key>Loops</key>
					<integer>0</integer>
					<key>Next</key>
					<integer>2</integer>
					<key>Reset</key>
					<integer>-1</integer>
					<key>Stoppable</key>
					<true/>
					<key>Suspendable</key>
					<false/>
				</dict>
				<dict>
					<key>Changes</key>
					<dict>
						<key>Acceleration</key>
						<array>
							<integer>50</integer>
							<integer>-3</integer>
						</array>
						<key>Constant</key>
						<false/>
						<key>Duration</key>
						<integer>0</integer>
						<key>Force</key>
						<array>
							<integer>0</integer>
							<integer>0</integer>
						</array>
						<key>Frame</key>
						<integer>3</integer>
						<key>Linear Damping</key>
						<real>0.1</real>
						<key>Name</key>
						<string>Step2</string>
						<key>Parameters</key>
						<dict>
							<key>Apply Charge To Damage</key>
							<false/>
							<key>Apply Charge To Duration</key>
							<false/>
							<key>Orientation</key>
							<true/>
							<key>Orientation Apply Transform</key>
							<false/>
							<key>Orientation Frame Shift</key>
							<integer>4</integer>
							<key>Overcharge</key>
							<array>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
							</array>
						</dict>
						<key>Step</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Once</string>
					</dict>
					<key>Condition</key>
					<array>
						<dict>
							<key>CompareTo</key>
							<integer>1</integer>
							<key>Comparison</key>
							<string>Equal</string>
							<key>Value</key>
							<string>TouchingGround</string>
						</dict>
					</array>
					<key>Duration</key>
					<real>0.1</real>
					<key>Interrupt</key>
					<integer>-1</integer>
					<key>Loop</key>
					<integer>0</integer>
					<key>Loopable</key>
					<false/>
					<key>Loops</key>
					<integer>0</integer>
					<key>Next</key>
					<integer>3</integer>
					<key>Reset</key>
					<integer>3</integer>
					<key>Stoppable</key>
					<true/>
					<key>Suspendable</key>
					<false/>
				</dict>
				<dict>
					<key>Changes</key>
					<dict>
						<key>Constant</key>
						<false/>
						<key>Duration</key>
						<integer>0</integer>
						<key>Frame</key>
						<integer>0</integer>
						<key>Linear Damping</key>
						<real>0.1</real>
						<key>Name</key>
						<string>Step3</string>
						<key>Parameters</key>
						<dict>
							<key>Apply Charge To Damage</key>
							<false/>
							<key>Apply Charge To Duration</key>
							<false/>
							<key>Orientation</key>
							<true/>
							<key>Orientation Apply Transform</key>
							<false/>
							<key>Orientation Frame Shift</key>
							<integer>4</integer>
							<key>Overcharge</key>
							<array>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
								<integer>0</integer>
							</array>
						</dict>
						<key>Step</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Once</string>
					</dict>
					<key>Condition</key>
					<array/>
					<key>Duration</key>
					<real>0.1</real>
					<key>Interrupt</key>
					<integer>-1</integer>
					<key>Loop</key>
					<integer>0</integer>
					<key>Loopable</key>
					<false/>
					<key>Loops</key>
					<integer>0</integer>
					<key>Next</key>
					<integer>-1</integer>
					<key>Reset</key>
					<integer>-1</integer>
					<key>Stoppable</key>
					<true/>
					<key>Suspendable</key>
					<false/>
				</dict>
			</array>
			<key>Target</key>
			<string>Self</string>
		</dict>
	</dict>
	<key>Sprites</key>
	<dict>
		<key>Monster</key>
		<dict>
			<key>Frames</key>
			<array>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>30</integer>
					<integer>30</integer>
				</array>
				<array>
					<integer>30</integer>
					<integer>0</integer>
					<integer>30</integer>
					<integer>30</integer>
				</array>
				<array>
					<integer>60</integer>
					<integer>0</integer>
					<integer>30</integer>
					<integer>30</integer>
				</array>
				<array>
					<integer>90</integer>
					<integer>0</integer>
					<integer>30</integer>
					<integer>30</integer>
				</array>
				<array>
					<integer>120</integer>
					<integer>0</integer>
					<integer>30</integer>
					<integer>30</integer>
				</array>
				<array>
					<integer>150</integer>
					<integer>0</integer>
					<integer>30</integer>
					<integer>30</integer>
				</array>
				<array>
					<integer>180</integer>
					<integer>0</integer>
					<integer>30</integer>
					<integer>30</integer>
				</array>
				<array>
					<integer>210</integer>
					<integer>0</integer>
					<integer>30</integer>
					<integer>30</integer>
				</array>
			</array>
			<key>Image</key>
			<string>good.png</string>
			<key>Rect</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>Type</key>
			<string>Animated</string>
		</dict>
		<key>Blocks</key>
		<dict>
			<key>Frames</key>
			<array>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>30</integer>
					<integer>30</integer>
				</array>
				<array>
					<integer>30</integer>
					<integer>0</integer>
					<integer>30</integer>
					<integer>30</integer>
				</array>
				<array>
					<integer>60</integer>
					<integer>0</integer>
					<integer>30</integer>
					<integer>30</integer>
				</array>
				<array>
					<integer>90</integer>
					<integer>0</integer>
					<integer>30</integer>
					<integer>30</integer>
				</array>
				<array>
					<integer>120</integer>
					<integer>0</integer>
					<integer>30</integer>
					<integer>30</integer>
				</array>
				<array>
					<integer>150</integer>
					<integer>0</integer>
					<integer>30</integer>
					<integer>30</integer>
				</array>
			</array>
			<key>Image</key>
			<string>blocks.bmp</string>
			<key>Type</key>
			<string>Animated</string>
		</dict>
		<key>Backdrop1</key>
		<dict>
			<key>Image</key>
			<string>tetr_FOREST.bmp</string>
			<key>Rect</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>800</integer>
				<integer>600</integer>
			</array>
			<key>Type</key>
			<string>Normal</string>
		</dict>
	</dict>
	<key>Templates</key>
	<dict>
		<key>Movement Aspect</key>
		<dict>
			<key>Use Gravity</key>
			<false/>
			<key>Maximum Random Vel</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>Minimum Random Vel</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>Maximum Random Force</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>Minimum Random Force</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>Velocity</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>Acceleration</key>
			<array>
				<string></string>
				<string></string>
			</array>
			<key>Target Velocity</key>
			<integer>0</integer>
			<key>Tangent Force</key>
			<integer>0</integer>
			<key>Target Force</key>
			<integer>0</integer>
			<key>Target Force Increase</key>
			<integer>0</integer>
			<key>Use Target</key>
			<false/>
			<key>Use Target Body</key>
			<false/>
			<key>Attach To Body</key>
			<false/>
			<key>Use Orientation</key>
			<false/>
			<key>Shift</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>Use Center</key>
			<false/>
			<key>Initial position</key>
			<string>Parent Enemy Position</string>
		</dict>
		<key>Physical Aspect</key>
		<dict>
			<key>Fixtures</key>
			<array>
				<dict>
					<key>Vertices</key>
					<array>
						<array>
							<integer>0</integer>
							<integer>0</integer>
						</array>
					</array>
					<key>Width</key>
					<integer>0</integer>
					<key>Height</key>
					<integer>0</integer>
					<key>Angle</key>
					<integer>0</integer>
					<key>Offset</key>
					<array>
						<integer>0</integer>
						<integer>0</integer>
					</array>
					<key>Radius</key>
					<integer>0</integer>
					<key>Friction</key>
					<integer>0</integer>
					<key>Restitution</key>
					<integer>0</integer>
					<key>Density</key>
					<integer>0</integer>
					<key>Shape</key>
					<string>Box Circle Polygon</string>
				</dict>
			</array>
			<key>Rotate</key>
			<false/>
			<key>Collision Mask</key>
			<integer>0</integer>
			<key>Sensor</key>
			<false/>
			<key>Interact with Passthough</key>
			<false/>
		</dict>
		<key>Fixture</key>
		<dict>
			<key>Vertices</key>
			<array>
				<array>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</array>
			<key>Width</key>
			<integer>0</integer>
			<key>Height</key>
			<integer>0</integer>
			<key>Angle</key>
			<integer>0</integer>
			<key>Offset</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>Radius</key>
			<integer>0</integer>
			<key>Friction</key>
			<integer>0</integer>
			<key>Restitution</key>
			<integer>0</integer>
			<key>Density</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Box Circle Polygon</string>
		</dict>
		<key>Sprite</key>
		<dict>
			<key>Frames</key>
			<array>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</array>
			<key>Image</key>
			<string></string>
			<key>Rect</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>Type</key>
			<string>Normal  Animated</string>
		</dict>
		<key>Ability</key>
		<dict>
			<key>Condition</key>
			<array>
				<dict>
					<key>CompareTo</key>
					<integer>0</integer>
					<key>Comparison</key>
					<string>More, Less, Equal, MoreEqual, LessEqual</string>
					<key>Value</key>
					<string></string>
				</dict>
			</array>
			<key>Interruptions</key>
			<dict>
				<key>Action</key>
				<string></string>
				<key>Crushing</key>
				<string></string>
				<key>Damage</key>
				<string></string>
			</dict>
			<key>Mask</key>
			<integer>0</integer>
			<key>Steps</key>
			<array>
				<dict>
					<key>Changes</key>
					<dict>
						<key>Acceleration</key>
						<array>
							<integer>0</integer>
							<integer>0</integer>
						</array>
						<key>Constant</key>
						<false/>
						<key>Damage</key>
						<array>
							<string></string>
							<string></string>
							<string></string>
							<string></string>
							<string></string>
							<string></string>
						</array>
						<key>Direct Damage</key>
						<integer>0</integer>
						<key>Duration</key>
						<integer>0</integer>
						<key>Force</key>
						<array>
							<integer>0</integer>
							<integer>0</integer>
						</array>
						<key>Frame</key>
						<integer>0</integer>
						<key>Gravity</key>
						<false/>
						<key>Linear Damping</key>
						<integer>0</integer>
						<key>Mana Damage</key>
						<array>
							<string></string>
							<string></string>
							<string></string>
							<string></string>
							<string></string>
							<string></string>
						</array>
						<key>Name</key>
						<string></string>
						<key>Parameters</key>
						<dict>
							<key>Apply Charge To Damage</key>
							<false/>
							<key>Apply Charge To Duration</key>
							<false/>
							<key>Orientation</key>
							<false/>
							<key>Orientation Apply Transform</key>
							<false/>
							<key>Orientation Frame Shift</key>
							<integer>0</integer>
							<key>Overcharge</key>
							<array>
								<string></string>
								<string></string>
								<string></string>
								<string></string>
								<string></string>
								<string></string>
							</array>
						</dict>
						<key>Removed Effect</key>
						<string>Prefix</string>
						<key>Secondary Effect</key>
						<string>Same as effect. don&apos;t make it recursive</string>
						<key>Spawned Body</key>
						<string>Does not work yet;</string>
						<key>Step</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Permanent Once Normal</string>
					</dict>
					<key>Condition</key>
					<array>
						<dict>
							<key>CompareTo</key>
							<integer>0</integer>
							<key>Comparison</key>
							<string>More, Less, Equal, MoreEqual, LessEqual</string>
							<key>Value</key>
							<string></string>
						</dict>
					</array>
					<key>Duration</key>
					<integer>0</integer>
					<key>Interrupt</key>
					<integer>0</integer>
					<key>Loop</key>
					<integer>0</integer>
					<key>Loopable</key>
					<false/>
					<key>Loops</key>
					<integer>0</integer>
					<key>Next</key>
					<integer>0</integer>
					<key>Reset</key>
					<integer>0</integer>
					<key>Stoppable</key>
					<false/>
					<key>Suspendable</key>
					<false/>
				</dict>
			</array>
			<key>Target</key>
			<string>Self Internal Block Touching Monster</string>
		</dict>
		<key>AbilityStep</key>
		<dict>
			<key>Changes</key>
			<dict>
				<key>Acceleration</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
				</array>
				<key>Constant</key>
				<false/>
				<key>Damage</key>
				<array>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>Direct Damage</key>
				<integer>0</integer>
				<key>Duration</key>
				<integer>0</integer>
				<key>Force</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
				</array>
				<key>Frame</key>
				<integer>0</integer>
				<key>Gravity</key>
				<false/>
				<key>Linear Damping</key>
				<integer>0</integer>
				<key>Mana Damage</key>
				<array>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
				</array>
				<key>Name</key>
				<string></string>
				<key>Parameters</key>
				<dict>
					<key>Apply Charge To Damage</key>
					<false/>
					<key>Apply Charge To Duration</key>
					<false/>
					<key>Orientation</key>
					<false/>
					<key>Orientation Apply Transform</key>
					<false/>
					<key>Orientation Frame Shift</key>
					<integer>0</integer>
					<key>Overcharge</key>
					<array>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
						<string></string>
					</array>
				</dict>
				<key>Removed Effect</key>
				<string>Prefix</string>
				<key>Secondary Effect</key>
				<string>Same as effect. don&apos;t make it recursive</string>
				<key>Spawned Body</key>
				<string>Does not work yet;</string>
				<key>Step</key>
				<integer>0</integer>
				<key>Type</key>
				<string>Permanent Once Normal</string>
			</dict>
			<key>Condition</key>
			<array>
				<dict>
					<key>CompareTo</key>
					<integer>0</integer>
					<key>Comparison</key>
					<string>More, Less, Equal, MoreEqual, LessEqual</string>
					<key>Value</key>
					<string></string>
				</dict>
			</array>
			<key>Duration</key>
			<integer>0</integer>
			<key>Interrupt</key>
			<integer>0</integer>
			<key>Loop</key>
			<integer>0</integer>
			<key>Loopable</key>
			<false/>
			<key>Loops</key>
			<integer>0</integer>
			<key>Next</key>
			<integer>0</integer>
			<key>Reset</key>
			<integer>0</integer>
			<key>Stoppable</key>
			<false/>
			<key>Suspendable</key>
			<false/>
		</dict>
		<key>ConditionItem</key>
		<dict>
			<key>CompareTo</key>
			<integer>0</integer>
			<key>Comparison</key>
			<string>More, Less, Equal, MoreEqual, LessEqual</string>
			<key>Value</key>
			<string></string>
		</dict>
		<key>EffectParameters</key>
		<dict>
			<key>Apply Charge To Damage</key>
			<false/>
			<key>Apply Charge To Duration</key>
			<false/>
			<key>Damage Distance Relationship</key>
			<string>Square Linear</string>
			<key>Distance to Damage</key>
			<integer>0</integer>
			<key>Distance to Force</key>
			<integer>0</integer>
			<key>Force Distance Relationship</key>
			<string>Square Linear</string>
			<key>Invert distance</key>
			<false/>
			<key>Orientation</key>
			<false/>
			<key>Orientation Apply Transform</key>
			<false/>
			<key>Orientation Frame Shift</key>
			<integer>0</integer>
			<key>Overcharge</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
		</dict>
		<key>StatusEffect</key>
		<dict>
			<key>Acceleration</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>Constant</key>
			<false/>
			<key>Damage</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>Direct Damage</key>
			<integer>0</integer>
			<key>Duration</key>
			<integer>0</integer>
			<key>Force</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>Frame</key>
			<integer>0</integer>
			<key>Gravity</key>
			<false/>
			<key>Linear Damping</key>
			<integer>0</integer>
			<key>Mana Damage</key>
			<array>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
				<string></string>
			</array>
			<key>Name</key>
			<string></string>
			<key>Parameters</key>
			<dict>
				<key>Apply Charge To Damage</key>
				<false/>
				<key>Apply Charge To Duration</key>
				<false/>
				<key>Orientation</key>
				<false/>
				<key>Orientation Apply Transform</key>
				<false/>
				<key>Orientation Frame Shift</key>
				<integer>0</integer>
				<key>Overcharge</key>
				<array>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
					<string></string>
				</array>
			</dict>
			<key>Removed Effect</key>
			<string>Prefix</string>
			<key>Secondary Effect</key>
			<string>Same as effect. don&apos;t make it recursive</string>
			<key>Spawned Body</key>
			<string>Does not work yet;</string>
			<key>Step</key>
			<integer>0</integer>
			<key>Type</key>
			<string>Permanent Once Normal</string>
		</dict>
	</dict>
	<key>TestMonster</key>
	<dict>
		<key>Density</key>
		<integer>0</integer>
		<key>Friction</key>
		<integer>0</integer>
		<key>Name</key>
		<string>TestMonster</string>
		<key>Rect</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>Restitution</key>
		<integer>0</integer>
		<key>Sensor</key>
		<false/>
	</dict>
	<key>Spawned Bodies</key>
	<dict/>
</dict>
</plist>
